{
  "name": "{{.ServiceName}}",
  "version": "1.0.0",
  "description": "",
  "repository": {
    "type": "git",
    "url": "git+{{.ServiceVcsURI}}.git"
  },
  "keywords": [
    "noflo",
    "node-red",
    "goflow",
    "tensorflow",
    "graphs",
    "go-channels",
    "tasks",
    "webui"
  ],
  "author": "{{.ServiceAuthor}}",
  "license": "MIT",
  "bugs": {
    "url": "https://{{.ServiceVcsURI}}/issues"
  },
  "homepage": "https://{{.ServiceVcsURI}}/tree/{{.ServiceVcsPrefixPath}}/{{.ServiceName}}#readme",
  "dependencies": {}
}